/* CSS Document */
/*** Global Resets ***/
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, p, blockquote, embed, object {padding: 0;	margin: 0;}
fieldset, img, abbr {border: 0;}
image,input,a{ outline:none}
body{font-family:'HelveticaLTStdLight';	font-size:16px;	color:#fff; line-height:20px;}
.top-bg{ background:url(../images/images/top-bg.png) center top no-repeat; background-attachment:fixed; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;}
@font-face {
       font-family: 'HelveticaLTStdLight';
       src: url('../fonts/HelveticaLTStdLight.eot');
       src: local('../fonts/HelveticaLTStdLight'), 
       url('../fonts/HelveticaLTStdLight.svg#HelveticaLTStdLight') format('svg'),
       url('../fonts/HelveticaLTStdLight.woff') format('woff'),
       url('../fonts/HelveticaLTStdLight.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: 'ProximaNovaLight';
       src: url('../fonts/ProximaNovaLight.eot');
       src: local('../fonts/ProximaNovaLight'), 
       url('../fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg'),
       url('../fonts/ProximaNovaLight.woff') format('woff'),
       url('../fonts/ProximaNovaLight.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}
.container{ max-width:1170px; margin:0px auto; display:block;}
.header{ display:block; margin:10px 0; border-bottom:#ccc 1px solid;}
.navbar-inverse{ background-color:rgba(34, 34, 34, 0) !important;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{ float:right;}
.login{ font-size:14px; color:#fff; background:#108474; padding:5px 20px; float:right; margin-right:20px; margin-top:10px; text-transform:uppercase; border-radius:20px;}
.start{ font-size:14px; color:#fff; background:#108474; padding:5px 20px; float:right; margin-right:20px; margin-top:10px; text-transform:uppercase; border-radius:20px;}
.login:hover{ text-decoration:none; background:#000; color:#fff; transition: .5s; -webkit-transition: .5s; /* Safari */}
.welcome-text{ font-size:30px; color:#fff; text-align:center; margin:50px 0;}
.textfield{ display:block; width:564px; background:url(../images/images/textfield.png) 0 0 no-repeat; padding:10px 10px 30px 100px; border:none; font-size:16px; color:#fff;}
.textfield2{ display:block; width:564px; background:url(../images/images/textfield2.png) 0 0 no-repeat; padding:10px 10px 30px 150px; border:none; font-size:16px; color:#fff;}
.title{ font-size:12px; color:#fff; position:relative; text-transform:uppercase; top:37px; left:12px;}
.search-btn{ display:block; width:114px; margin:0px auto; height:51px; border:none; background:url(../images/images/search-btn.png) 0 0 no-repeat;}
.search-btn:hover{ text-decoration:none;}
.MiddleRow{ background:url(../images/images/middle-bg.png) center 80px no-repeat;  -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; height:731px;margin-top:88px;}
.join-text{ font-size:34px; color:#fff; text-transform:uppercase; text-align:center; margin:100px 0 300px 0;}
.join-link{ display:block; width:200px; margin:0px auto; border:#fff 2px solid; text-transform:uppercase; font-size:14px; color:#fff; margin-top:50px; margin-bottom:50px; text-align:center; padding:10px 0; border-radius:10px;}
.join-link:hover{ text-decoration:none; transition: .5s; -webkit-transition: .5s; /* Safari */}
.WorksRow{ display:block; background:#fff; padding:30px 0;}
.FooterRow{ display:block; background:#000; padding:50px 0; margin-top:0px;}
.footer-links{ display:block;}
.footer-links a{ display:block; font-size:14px; color:#fff; float:left; margin:10px 10px; text-transform:uppercase; text-align:right}
.footer-links a:hover{ text-decoration:none; color:#FFF; transition: .5s; -webkit-transition: .5s; /* Safari */}

.work{ font-size:34px; color:#000000; text-transform:uppercase; text-align:center; margin:0px 0 0px 0;}
.problem{background:url(../images/images/problem-bg.png);}
.problem-text{font-size:14px; color:#fff; text-transform:uppercase; text-align:justify; margin-top:50px;}
.problem-text1{ font-size:25px; color:#fff; text-transform:uppercase; text-align:center;  }
.app{margin:83px}
.how-works{font-size:30px; color:#00BFFF;text-transform:uppercase;text-align:center; font-family: 'ProximaNovaLight';}
.footer-links1{font-size:10px; color:#fff;text-align:center;}
.footer-text{font-size:25;color:#fff;text-align:center;}
.social-link{margin-right:20px}
.toll-free{text-align:center; color:#fff;}
.email{text-align:center;color:#fff;}


@media screen and (min-width: 240px) and (max-width: 769px) {
.textfield{ display:block; width:300px; background:url(../images/images/mobile-textfield.png) 0 0 no-repeat; padding:10px 10px 30px 100px; border:none; font-size:16px; color:#fff;}
.textfield2{ display:block; width:300px; background:url(../images/images/mobile-textfield2.png) 0 0 no-repeat; padding:16px 16px 29px 117px; border:none; font-size:16px; color:#fff;}
.app{ margin:10px 0; width:260px; margin:20px auto;}
.iframe{ width:100%;}
.navbar-collapse{ width:100%; text-align:center; background:rgba(8, 8, 8, 0.31);}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{ background-color:#108474 !important; transition: .5s; -webkit-transition: .5s; /* Safari */}
.mobile-menu{ padding-left:0px !important; padding-right:0px !important;}
.navbar-nav{ margin:0px -15px !important;}
.logo{ text-align:center;}
.google-play{ text-align:center; margin-top:10px;}
.toll-free{text-align:center; color:#fff;}
.email{text-align:center;color:#fff;}
.social-link{ width:124px; margin:0px auto;}
.MiddleRow{ background:url(../images/images/middle-bg.png) center 0px no-repeat !important;}
.FooterRow{ padding-bottom:10px;}

}
/*about page */
.about-mshipper{font-size:16px; font-family: 'ProximaNovaLight';     text-align: justify;}
.about-title{font-size:22px; font-family:'ProximaNovaLight'; font-weight: bold;}
.terms-title{font-size:16px; font-family:'ProximaNovaLight'; font-weight:bold;}
.msg{font-size:18px; font-family:'ProximaNovaLight';}
.middle{text-align: justify; margin-top: 29px;}
.about-header{ background:url(../images/images/strip.png) 0 0 no-repeat; padding-top: 31px; height: 100px;"}


/*new entries*/


.jumbotron .container {
    max-width: 100%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.page_title > h2 {
    color: #252525;
    text-transform: uppercase;
    font-size: 26px;
	margin-bottom: 30px;
	align:center;
}
.page_title > h2 {
    color: #252525;
    text-transform: uppercase;
    font-size: 26px;
}
.single_team a {
    position: relative;
    display: block;
}
.panel-faq .panel-heading .panel-title span {
    font-size: 12px;
    font-weight:900;
    color: #000;
}

.panel-heading a, .panel-heading a:hover, .panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}
.panel-title{
	font-weight:bold;
}
.section_padding {
    padding-top: 26px;
    padding-bottom: 90px;
    ;
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: "Roboto",sans-serif;
}

h2:hover,h3:hover{
color:#337AB7;
}
.jumbotron .container p{
	align:justify;
	font-family: 'Helvetica Full Stack', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight:100;
	line-height: 1.5;
}
.team_discription {
    background: #11C3F1 none repeat scroll 0px 0px;
    color: #FFF;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.glyphicon {
    font-weight:700;
}