@model SMEPanel.Models.Universal

@{
    ViewBag.Title = "Terms";
  
}

<h2>Terms</h2>
<link href="~/assets/bootstrap.css" rel="stylesheet" />
<link href="~/assets/style.css" rel="stylesheet" />
<div class="about-header">
    <div class="col-lg-1 col-md-1 col-sm-1 logo"></div>
    <div class="col-lg-2 col-md-2 col-sm-2 logo"><a href="index.html"><img src="images/images/logo.png" alt="Logo"></a></div>

    <div class="col-lg-2 col-md-2 col-sm-2"> </div>


    <div class="col-lg-2 col-md-32col-sm-2 toll-free"><b> Toll free:</b><br>	1800-2700-683 		</div>
    <div class="col-lg-4 col-md-4 col-sm-4 email"><b>Address:</b><br>A-1/1 MB Road Khanpur, New Delhi 110062<br>business@mshipper.com</div>


</div>

<div class="container">
    <div class="row" style="color: black;">

        <div class="col-lg-1 col-md-1 col-sm-1"></div>

        <div class="col-lg-10 col-md-10 col-sm-10 middle" style="text-align:justify;">

            <p class="about-title">Service Level Contract (No Minimum Order Contract)</p>
            <p class="msg">This Service Level CONTRACT ("Contract") dated 31/12/2015 is made by and between mShipper India Private Limited ("Aggregator/Service Provider") with its Registered Office A-1/1, 2nd Floor, MB Road, Khanpur New Delhi – 110062.</p>
            <p class="about-title">AND</p>
            <p class="msg">Seller/Retailer/Sender", which expression includes its Subsidiaries</p>
            <p class="msg">As a customer/user of mShipper application you hereby agree and conform to the following terms of use. </p>
            <p class="about-title"><b> Definition</b></p>
            <p class="msg"><b>mShipper</b> means mShipper India Private Limited, a company incorporated in Delhi under Indian Companies Act 2013</p>
            <p class="msg"><b>Participating Shippers</b> means the Shippers who have agreed with mShipper to accept bookings from you through our services (Web & App). </p>
            <p class="msg"><b>Services</b> means the operation by mShipper to distribute your details and details of the proposed journey or delivery by vehicles submitted to mShipper through the software to participating Shippers for their acceptance and to provide you with other information on the relevant participating Shippers the journey or delivery, and on your use of the services</p>
            <p class="msg"><b>Terms and conditions </b> means the terms and conditions that apply to the services as set out on www.mShipper.com and may be amended from time to time. </p>
            <p class="about-title">Charges</p>
            <p class="msg">Total charges of order equal to standard pickup and delivery plus any addition charges. Standard delivery charge includes only transition of packages with specified maximum weight, size, and quantity. Additional charges apply for any additional requirement or packages that exceed the specified maximum weight, size, or quantity. Please see the rates section in this software/website for more price details.</p>
            <p class="msg">
                Being an escrowed payment platform, you agree not to pay any cash amount to the Shippers until or unless conveyed in written by mShipper officials.
                You can apply for mShipper Credit facility that would starts with a credit limit of INR 5000 for One Week. The credit limit can be revised based on the billings and payment history. The credit amounts will remain due and the client need to make the payment in a situation either the credit limit of INR 5000 is met or the Week overs, which comes first.
            </p>
            <p class="about-title">Customer/user’s obligations<p>
            <p class="msg">The customer/user warrants that he is either the owner or the authorized agent of the owner of the goods, and that he is authorized to accept and is accepting these conditions not only for himself but also as agent for and on behalf of the owner of the goods.</p>
            <p class="msg"> Customer/user shall ensure that every article is adequately packed to protect against damage in the course of transmission and also that no part of the delivery items may be removed without the case, wrapper or container being torn or broken, a seal being broken or two adhesive surfaces being forced apart</p>
            <p class="msg"> The customer/user warrants that he has complied with all laws and regulations relating to the nature, condition, packing, handling, storage and carriage of the goods. Customer/user shall not dispatch and participating Shippers reserve the right to refuse any articles that are prohibited by law, dangerous or hazardous materials, perishable substances, and radioactive material. The customer/user is liable for any loss or damage suffered by any third party as a result of any breach of the terms. Participating Shippers will not open and inspect the delivery items and bear no responsibility items. Yet , mShipper offers 100% refund of the total value of the goods adding further , mShipper doesn’t accept goods valuing more than INR 10000 (I f an item worth more than the specified restricted amount is sent without any customization of order, the item will still be treated as valued as INR 10000). For customized solution feel free to write us at business@mshipper.com</p>
            <p class="msg">Customer accepts and has knowledge that mShipper will send contact information to the Shippers and the Shippers may contact the customer with respect to the delivery of goods.</p>
            <p class="about-title">Disclaimer</p>
            <p class="msg">The software is delivered to you on an as is basis and although mShipper has used its best endeavors to ensure that the software will work properly on your mobile device, mShipper does not warrant the performance of the software with your mobile device. </p>
            <p class="msg"> mShipper shall not be liable to you for any damages, claim or costs whatsoever including any consequential, indirect, incidental damages or any loss of profit or damages to your mobile device as a result of your use of the services or your installation and/ or execution of the software even if mShipper or its representative has been advised of the possibility of such loss, damage or claim</p>
            <p class="msg">The forgoing limitations and exclusions apply to the extent permitted by law</p>
            <p class="msg">mShipper can anytime change the price mentioned in the website, mobile application or on phone as per the situation</p>
            <p class="about-title">Personal data and privacy </p>

            <p class="msg">You may be required to submit personal information to mShipper in order to use certain function of software </p>
            <p class="msg"> You agree that mShipper can use your personal data ( Namely your name and contact number) as provided by you to mShipper from time to time when you use the software for the purpose of providing the services </p>
            <p class="msg">You agree that mShipper is entitled to collect, use, keep and update your personal data to such extent, for and at such time period as may be necessary when mShipper provides the service to you and you confirm the personal data so provided by you are true and correct and up to date  </p>
            <p class="msg">You further expressly consent that mShipper is entitled to transfer your personal data to the participating Shippers as may be necessary including, without limitation for the purpose of sourcing booking to be accepted by a Shipper, confirmation/clarification of the booking information between you and the Shipper, and tracking the booked packages when mShipper provides the service to you.  </p>
            <p class="msg"> You further agree that the collection, use, storage and transfer of your personal data is generally subject to mShipper privacy policy and personal information collection statement the latest version thereof is at www.mShipper.com and you acknowledge that you have read and understood the same prior to agreeing to these terms and conditions </p>
            <p class="msg">  </p>
            <p class="about-title">Miscellaneous </p>
            <p class="msg"> MShipper may from time to time amend the terms of these terms and conditions by www.mShipper.in and such shall be binding on you upon posting </p>
            <p class="msg"> These terms and conditions shall be governed by and construed in accordance with the laws of India. You submit on the non- exclusive jurisdiction of the Delhi Court. </p>
            <p class="msg">	mShipper reserves the right to change the above terms and conditions at any time without prior notice</p>
            <p class="about-title">Rules of usage </p>
            <p class="msg">You shall not use the software for or to promote any illegal acts </p>
            <p class="msg">You shall not use the software to produce any email advertisements or spam emails </p>
            <p class="msg"> You shall not use the software in anyway to track, stalk, harass or hurt any person</p>
            <p class="msg">You shall not in any way interrupt/destroy the operation of the software or the servers/network that linked with software; nor violate the network requirements process, or terms and conditions that were mentioned when using the software  </p>
            <p class="msg"> You shall not use the software in another person’s name or use the software with property of others without consent of its owner</p>


        </div>


        <div class="col-lg-1 col-md-1 col-sm-1"></div>
    </div>




</div>





<div class="FooterRow">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-2">
                <div class="footer-links"><a href="#">Home</a> <a href="#">For Shipper</a> <a href="#">For Sender</a>  <a href="#">Why Us</a></div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="clearfix"></div>
        </div>


        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-1">
                <div class="footer-links"><a href="#">FAQS</a> <a href="#">ABOUT US</a> <a href="#">PRIVACY POLICY</a>  <a href="#">REFUND POLICY</a> <a href="#">TERMS & CONDITIONS</a></div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="footer-links1">Copyright&copy;2015 | Rights Reserved | mShipper India Pvt.Ltd.</div>
                <div class="footer-text">MADE IN INDIA, FOR THE WORLD</div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
</div>